    <header>
        <h1>This is where the header goes with options to hoem, scrape, go to saved articles</h1>
    </header>
    <h1>This is the NYTScraper - now running on handlebars</h1>
    <div>
        Inside this div, create space for scraped articles to go.
        <p>Users will be able to see title, content, link, (image?) and then have the option to save the article</p>
    </div>
    
    <script src="/app.js"></script>