<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo right">Tech,Crunch,Scrape</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/scrape">Scrape Site!</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>
<h2>Welcome! Scrape all the latest tech news from TechCrunch! See what others are saying about the articles as well.</h2>
<div>
    <div class="row" id="articles"></div>
</div>

<script src="app.js"></script>