<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo right">Tech,Crunch,Scrape</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>
<h1>TechCrunch: Saved Articles</h1>
<div>
    <div id="articles"></div>

    <div id="noteModal" class="modal">
        <div class="modal-content">
            <h4 id="articleId"></h4>
            <h5>Add a Note:</h5 >
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="notebodyinput" class="materialize-textarea"></textarea>
                            <label for="notebodyinput">Insert Your Note Here</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div id="notes">Here is where the notes go</div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

</div>

<script src="savedApp.js"></script>