   <header>
        <h1>This is where the header goes with options to hoem, scrape, go to saved articles</h1>
    </header>
    <h1>This is the NYTScraper</h1>
    <div>
        Inside this div, create space for saved scraped articles to go.
        <p>Users will be able to see title, content, link, (image?) and then have the option to add a note or delete the article.</p>
        Also, create modal that allows users to plug in their notes on an article.
    </div>
    
    <script src="app.js"></script>